p
{
color:orange;
font-family:Verdana;
font-size:25px;
}

a
{
text-decoration:none;
}

button
{
background-color:cyan;
width:250px;
height:50px;
border-radius:10px;
border-color:red;
font-size:15px;
}
button:hover
{
background-color:rgb(142,245,220);
width:250px;

}
